
.social_logs{
    .social-icons-list{
        text-align: center;
        flex-direction: row;
        display: flex;
        margin-top: 100px;

    li{
        padding: 15px;
        text-align: center;
        list-style: none;
        font-size: 15px;
        
      a{
        color: black;
        &:hover{
            color: rgb(34, 34, 228);
        }
      }
    }
}
p{
    text-align: center;
   
}
@media (max-width: 1690px) {

    .social_logs{
        .social-icons-list{
            
    
        li{
            padding: 100px;

            font-size: 15px;
            
          }
        }
    }
    p{
        text-align: center;
        font-size: 15px;
       
    }
    
}
}